.player-entry {
  display: grid;
  grid-template-columns: 3rem 1fr;
  gap: 0.5rem;
  align-items: center;

  .pfp {
    --size: 3rem;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;

  }
}