.player-entry {
  display: grid;
  grid-template-columns: 3rem 1fr;
  gap: 0.5rem;
  align-items: center;

  .pfp {
    --size: 3rem;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
  }

  .score {
    display: flex;
    flex-wrap: wrap;

    span {
      display: flex;
      color: var(--text-secondary);
    }
    
    span::before {
      content: attr(data-title) ':';
      text-transform: uppercase;
      margin-right: 0.25rem;
      color: var(--text-tertiary);
    }
    span:not(:last-child)::after {
      content: ' | ';
      margin-inline: .25rem;
    }
  }
}