.input-group {
  display: flex;
  flex-direction: column;
  gap: .25rem;

  label {
    flex: 1 1 100%;
    color: var(--text-secondary);
  }

  label+* {
    flex: 1 1 auto;
    width: auto;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  // max-width: max-content;

  margin: 1em 0;

  fieldset {
    display: grid;
    gap: 1rem;

    border: 1px solid var(--background-tertiary);
    border-radius: .5rem;
    padding: 1rem;
    margin: 0;

    legend {
      padding: 0 .5rem;
      font-weight: bold;
    }
  }
}