@use '../../../styles/partials/mixins' as mixins;

.site-header {
  --_padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 2rem;

  border-bottom: 1px solid var(--background-secondary);
  position: relative;
  padding: var(--_padding);
  width: calc(100% - (2 * var(--_padding)));

  .site-name {
    margin: 0;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      line-height: 2rem;
    }

    span:first-child {
      @include mixins.letter-border(var(--brand));
    }

    span:last-child {
      @include mixins.letter-border(var(--brand-alt--light));
    }
  }

  app-logout {
    width: fit-content;
  }
}