.player-deck {
  // display: grid;
  // grid-template-columns: auto 7rem 1fr;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 2em;
  row-gap: 1em;

  &[data-opponent=true] {
    .game-card {
      --size: 2rem;
    }
  }
}

.deck {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  
  padding: 0;
}