$muted-alpha: 20%;

$background-primary--muted: #2d2d2d;
$background-primary: #333;
$background-primary--light: #3a3a3a;

$background-secondary--muted: #404040;
$background-secondary: #444;
$background-secondary--light: #4a4a4a;

$background-tertiary--muted: #4d4d4d;
$background-tertiary: #555;
$background-tertiary--light: #5a5a5a;

$background-quaternary--muted: #5d5d5d;
$background-quaternary: #666;
$background-quaternary--light: #6b6b6b;

$text-primary: #eee;
$text-secondary: #d1d1d1;
$text-muted: #999;
$text-link: #7b85fd;

$text-success: hsl(146, 67%, 37%);
$text-danger: hsl(0, 80%, 65%);

$brand--muted: rgba(0, 105, 186, $muted-alpha);
$brand: rgb(0, 105, 186);
$brand--light: lighten($brand, 10%);

$brand-alt--muted: rgba(186, 105, 0, $muted-alpha);
$brand-alt: rgb(186, 105, 0);
$brand-alt--light: lighten($brand-alt, 10%);