.game-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;

  --size: 5rem;
  width: var(--size);
  height: calc(var(--size) * 1.5);
  padding: 1em;
  border-radius: .5em;

  background-color: var(--background-secondary);
  filter: drop-shadow(0 0 .5em var(--background-secondary));


  &:has(.game-card__content[data-show-content=false]) {
    background-color: transparent;
    background-image: url('/assets/cards/background.webp');
    background-size: cover;
    background-position: center;
  }

  &:has(.game-card__content[data-show-content=true]) {
    background-image: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: .25ch;

    padding: 1em;
    width: 50%;
    height: 66%;
    border-radius: .5em;

    &:has(>*) {
      background-color: rgba(0, 0, 0, 0.2);
    }

    * {
      text-align: center;
    }

  }

  &__element-type {
    --_offset: .25rem;
    top: var(--_offset);
    left: var(--_offset);

    --size: 1rem;
    height: var(--size);

    position: absolute;

  }

  &__value {
    font-size: 2rem;
    font-weight: bold;
  }
}

$elements: (
  fire,
  water,
  ice
);

@each $element in $elements {
  [data-type=#{$element}] {
    color: var(--element-#{$element});
  }
}