<div class="playerlist-container">
  <ul class="playerlist">
    <li class="player" *ngFor="let player of players" (click)="removePlayer(player)">
      <app-player-entry [player]="player"></app-player-entry>
    </li>
  </ul>

  <div class="button-container">
    <button class="secondary" (click)="onAddAiPlayerClicked()">
      <i class="fas fa-robot"></i>
      <span>Add AI player</span>
    </button>
    <button class="secondary" (click)="onOpenSettingsClicked()">
      <i class="fas fa-cog"></i>
      <span>Open Settings</span>
    </button>
  </div>

  <app-modal-dialog 
    title="Settings"
    [isOpen]="isSettingsModalOpen" 
    (closeModal)="onCloseSettingsModal()"
  >
    <app-settings-content></app-settings-content>
  </app-modal-dialog>
</div>