<div *ngIf="isActive; then game else lobby"></div>

<ng-template #lobby>
  <div class="lobby">
    <main>
      <start-game-button />
    </main>
    <aside>
      <playerlist />
    </aside>
  </div>
</ng-template>

<ng-template #game>
  <header>
    <player-wins *ngFor="let opponent of opponents" [player]="opponent" />
    <game-timer />
    <player-wins [player]="currentPlayer" />
  </header>

  <section class="active-cards-container">
    <ul class="active-cards">
      <li *ngFor="let card of activeCards">
        <gamecard [card]="card" [showContent]="shouldShowActiveCardContent" />
      </li>
    </ul>
  </section>

  <footer>
    <player-deck />
  </footer>
</ng-template>