.lobby {
  --margin: 2em;
  
  position: relative;
  height: 100%;
  width: calc(100vw - var(--margin) * 2);
  margin: 2em;

  display: grid;
  grid-template-columns: auto 24ch;

  main {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;
  }

  aside {
    right: 1rem;
    top: 0;
  }
}

.game-header {
  display: grid;
  place-items: center;
}

.player-wins {
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 2rem;
}

.conclusion {
  text-align: center;
}

.player-decks { 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  padding: 0;

  li {
    display: flex;
    list-style: none;
  }
}

.active-cards-container {
  display: grid;
  place-items: center;
}

.active-cards {
  display: flex;
  gap: 1rem;
  padding: unset;

  li {
    list-style: none;
  }
}