.lobby {
  --margin: 2em;
  
  position: relative;
  height: 100%;
  width: calc(100vw - var(--margin) * 2);
  margin: 2em;

  display: grid;
  grid-template-columns: auto 24ch;

  main {
    display: grid;
    place-items: center;
  }

  aside {
    right: 1rem;
    top: 0;
  }
}

.active-cards {
  li {
    list-style: none;
  }
}