@forward './app/styles/index.scss';

/* You can add global styles to this file, and also import other style files */
body {
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;

  background-color: var(--background-primary);
  color: var(--text-primary);
}
